apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-mig-config
  namespace: gpu-operator
data:
  config.yaml: |
    version: v1
    mig-configs:
      all-disabled:
        - devices: all
          mig-enabled: false
      
      three-2g-seven-1g:
        - devices:
            - 0
          mig-enabled: true
          mig-devices:
            "1g.10gb": 2
        - devices:
            - 1
          mig-enabled: false
